:root {
    --background-llamada-mobile: #00161C;
    --background-blanco: #FFFFFF;
    --background-azul-claro: #DFE3F5;
    --background-ceniza-claro: #F7F4F4;
    --background-ceniza-medio: #D9D9D9;

    --border-cabecera-mobile: #103D4A;

    --boton-rojo: #B72E2E;

    --fuente-ceniza-claro: #666666;
    --fuente-ceniza-oscuro: #4F4C4C;

    --planes-card-start: #035A76;
    --planes-card-ultra: #690F8E;
    --planes-card-mega: #B00024;

    --fuente-enlace: #0006FF;

    --background-footer: #333333;

    --montserrat: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}

body {
    font-family: var(--open-sans);
}

.container_all {
    display: grid;
    width: 95%;
    max-width: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, auto);
}

.container_all > div,
.container_all .encabezado,
.container_all .llamada_container,
.container_all .destacados_container,
.container_all .diferenciales_container,
.container_all .sobre_nosotros_container,
.container_all .planes_container,
.container_all .contacto_container,
.container_all .institucional_container,
.container_all .footer_container {
    background-color: #690F8E;
}

.encabezado {
    background-image: url(../img/bg-intro.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100% 100%;
    padding: 5%;
}
.container_all .encabezado {
    background-color: transparent;
    grid-column-start: 1;
    grid-column-end: 3;  /* si no sabes el numero de columnas y quieres que abarque todo se pone -1*/
}

.container_all .llamada_container {
    background-color:transparent;
    grid-column-start: 1;
    grid-column-end: 3;
}

.container_all .destacados_container {
    background-color: white;
    grid-column: span 3;
}

.container_all .diferenciales {
    background-color: #F7F4F4;
    grid-column: span 3;
}

.container_all .sobre_nosotros_container_all {
    background-color: white;
    grid-column: span 2;
}

.container_all .planes_container {
    background-color: #F7F4F4;
    grid-column: span 3;
}

.container_all .contacto_container {
    background-color: white;
    grid-column: span 3;
}

.container_all .institucional_container {
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 2;
}

.container_all .footer_container {
    background-color: brown;
}

.boton {
    text-align: center;
    display: block;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 1px solid var(--boton-rojo);
    border-radius: 5px;
}