.contacto_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    
    /* text-align:center;  

    padding-top: 2rem;
    padding-bottom: 2rem;*/
}

.contacto__titulo {
    color: #4F4C4C;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.contacto__boton {
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    color: #E33B3B;
}