.diferenciales {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.diferenciales__lista {
    padding: 0 180px;
    margin: 10%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.diferenciales__item {
    max-width: 420px;
    box-sizing: border-box;
    padding: 2rem 3rem 2rem 6rem;
    background-repeat: no-repeat;
    background-position: top 1.25rem left 3.5rem;
}

.item__titulo {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 29px;
    font-weight: 700;
    line-height: 19px;
    color: #4F4C4C;
    text-transform: uppercase;

    /*width: 78px;
    height: 20px;
    left: 182px;
    top: 1337px;*/
}

.item__texto {
    line-height: 200%;
    margin-top: 8%;
}

.diferenciales__item-reloj {
    background-image: url(../img/icono-reloj.svg);
}

.diferenciales__item-dinero {
    background-image: url(../img/icono-dinero.svg);
}

.diferenciales__item-quimica {
    background-image: url(../img/icono-quimica.svg);
}