.head {
    color: var(--background-blanco);
    width: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid var(--border-cabecera-mobile);

    position: absolute;
}

.head__logo {
    display: grid;
    margin-top: 2%;
    margin-left: 2%;
    grid-column-start: 1;
    grid-column-end: 2;
    /*margin-bottom: 1rem;*/
}

.head__navegacion {
    display: grid;
    max-width: auto;
    grid-column-start: 2;
    grid-column-end: -1;
    text-align: right;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    /* identical to box height, or 104% */
    text-align: right;
    color: #FFFFFF;
}

.head__enlace {
    font-size: 1.1rem;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}
