/*Configuración general grid sobre nosotros*/
.sobre_nosotros_container_all {
    display: grid;
    width: 95%;
    max-width: auto;
    grid-gap: 2%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.sobre_nosotros_container_all > div,
.sobre_nosotros_container_all .sobre_nosotros_contents,
.sobre_nosotros_container_all .sobre_nosotros__imagen {
    background-color: transparent;
}

.sobre_nosotros_contents {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 80%;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 10%;
    padding: 5%;
}

.sobre_nosotros__imagen {
    grid-column-start: 2;
    grid-column-end: -1;
}


/*Configuración detalles y uso de flexbox*/

.sobre_nosotros__titulo {
    font-family: 'Montserrat';
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1%;
    padding: auto;
}

.sobre_nosotros__texto {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: normal;
}

hr {
    display: block;
    margin-inline-start: initial;
    background: #D9D9D9;
}

.sobre_nosotros__plataformas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 18% 78%;
}

.sobre_nosotros__imagen {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
    margin-right: 5%;
}
